* {
    box-sizing: border-box;
}

body {
    font-family:Raleway, sans-serif;
    margin:0;
}

/*header below*/
header {
    width: 100%;
    z-index: -1;
}

.head-text {
    font-family:Raleway, sans-serif;
    text-align:center;
    width:100%;
    padding:10px;
    text-align:center;
    position:relative;
    color:black;
    z-index: 0;
}

/*containers*/
.page-container {
    background-color:#f2f2f2;
    display:flex;
    width:100%;
    flex-flow:row wrap;
    padding: 65px 210px;
}

.main-enclose {
    font-family:arial, sans-serif;
    box-shadow: 0 6px 12px rgba(0,0,0,0.12), 0 6px 12px rgba(0,0,0,0.24);
    transition:0.3s;
    padding:16px 60px;
    width:100%;
    overflow:auto;
    border-radius:5px;
    border: 6px solid #248f8f;
    /*border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    border-width: 4px;
    border-style: solid;*/
}

/*.main-enclose:hover {
  box-shadow: 0 12px 24px rgba(0,0,0,0.12), 0 9px 18px rgba(0,0,0,0.24); 
}*/

.main-enclose a {
    color:#2eb8b8;
}

.img-center {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.img-center:hover {
    opacity:0.75;
    transition: opacity 0.3s;
}

footer {
    background-color:#555;
    padding:20px;
    font-size:14px;
    color:white;
}

/* */

.content-display {
    line-height: 1.6;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:100%;
}

.content-display > div {
    margin: 20px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.12), 0 6px 12px rgba(0,0,0,0.24);
    transition:0.3s;
    max-height:95vh;
}

.question {
    padding:16px;
    font-size:15px;
    overflow: auto;
    max-height:70vh;
    overflow-x: hidden;
}

.question a {
    text-decoration:none;
    color:black;
} 

.button-box {
    text-align:center;
    padding-top:20px;
}

.answer-button {
    display:inline-block;
    font-family:arial, sans-serif;
    border-radius:10px;
    border:none;
    background-color: #29a3a3;
    color:white;
    padding:10px 14px;
    text-align:center;
    text-decoration:none;
    font-size:16px;
    width:60%;
    cursor:pointer;
    margin-top:8px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.answer-button:hover {
    background-color:#2eb8b8;
    box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24); 
    transition:0.4s;    
}

a.discover {
    border-bottom:1.5px dotted #248f8f;
}

a:hover.discover {
    border-bottom:2px dotted #2eb8b8;
    transition:0.4s;
}

/*toolip*/
.tooltip {
    position: relative;
    display: inline-block;
    font-style:italic;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    font-size:10px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
   

  @media screen and (max-width:1000px) {
    .page-container {
        padding: 30px;
    }
}

@media screen and (max-width:600px) {
    .page-container {
        padding: 10px;
    }
}
